:after,
:before {
    box-sizing: border-box
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 50px;
    background-color: rgb(28, 28, 28);
    color: whitesmoke;
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizespeed;
    text-align: center;
}

img,
picture {
    display: block;
    max-width: 100%
}

a {
    color: whitesmoke;
}


.augy-navbar {
    background-color: rgb(28, 28, 28);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.augy-navbar a {
    float: left;
    display: block;
    color: #d3d3d3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
.augy-navbar a:hover {
    background-color: #3e3e3e;
    color: rgb(227, 227, 227);
}

.augy-header-primary {
    --font-multipler: 1.06
}

.augy-header-image-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 2000px;
}

.gh-header-primary {
    font-size: calc(clamp(3rem, 2.05vw + 3rem, 6rem)*var(--font-multiplier, 1));
    line-height: 1.2
}

.mailchimp-contact {
    width: 500px;
    height: 500px;
}

@media (max-width: 480px) {
    .blog-div {
        width: 100%; /* Make the div fit the screen width on smaller devices */
    }
    .main-photo {
        width: 100%;
    }
}